body
{
  background-color:rgb(249, 249, 249);
  margin:81px 24px 36px 96px;
}
@media(min-width:1200px)
{
  body
  {
    margin:81px 24px 36px 250px;
  }
}
@media (min-width:868px) and (max-width:1124px)
{
  .main-body
{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  row-gap:42px;
  column-gap:16px;
}
}
@media (min-width:1124px)
{
  .main-body
{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  row-gap:42px;
  column-gap:16px;
}
}
@media (max-width:868px)
{
  .main-body
{
  display:grid;
  grid-template-columns: 1fr 1fr ;
  row-gap:42px;
  column-gap:16px;
}
}
.video-container
{
  display:flexbox;
  flex-direction:column;
}
.thumbnail-box
{
  position:relative;
}
.timestamp
{
  position:absolute;
  background-color:black;
  color:white;
  bottom:19px;
  right:4px;
  font-family:roboto,arial;
  font-size:12px;
  font-weight:500;
  padding:4px 3.9px;
  border-radius:2px;
}
.thumbnail-image
{
  width:100%;
  margin-bottom:8px;
}
.video-details
{
  display:flex;
  flex-direction:row;
}
.profilepicture-box
{
  position:relative;
}
.channel-details
{
  position:absolute;
  white-space:nowrap;
  display:flex;
  background-color:rgb(255,255,255);
  box-shadow: 3px 2px 7px rgba(0,0,0,0.3);
  padding:10px 10px;
  border-radius:5px;
  opacity:0;
  pointer-events:none;
  align-items: center;
  justify-content: center;
}
.profilepicture-box:hover .channel-details
{
  opacity:1;
}
.channel-details .profilepicture
{
  width:45px;
  height:45px;
  object-fit:cover;
  border-radius:30px;
  display:flex;
}
.channel-info
{
  display:flex;
  flex-direction:column;
}
.channel-info .channel-name
{
  font-family:roboto,arial;
  font-weight : 700;
  color:black;
  font-size:15px;
  margin:0 0;
  margin-bottom:5px;
  margin-right:10px;
}
.channel-info .channel-stats
{
  color:rgb(96, 96, 96);
  font-family:roboto,arial;
  font-size:13px;
  
}
.profilepicture
{
  width: 36px;
  height:36px;
  object-fit:cover;
  border-radius:18px;
  margin-right:12px;
}


.video-credentials
{
  display:flex;
  flex-direction:column;
}
.video-title
{
  font-family:roboto,arial;
  color:black;
  text-decoration:none;
  font-weight:500;
  font-size:14px;
  line-height:20px;
}
.channel-name
{
  font-family:roboto,arial;
  color:rgb(96, 96, 96);
  text-decoration:none;
  font-size:12px; 
  margin-top:10px;
}
.video-stats
{
  font-family:roboto,arial;
  color:rgb(96, 96, 96);
  font-size:12px; 
  margin-top:4px;
}