      .header
      {
        top:0;
        left:0;
        right:0;
        position:fixed;
        display:flex;
        flex-direction:row;
        padding-left:24px;
        padding-right:24px;
        height:56px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color:rgb(210, 210, 210);
        align-items:center;
        z-index:100;
        background-color:white;
      }
      .left-section
      {
        display:flex;
        align-items:center;
        height:60px;
      }
      .hamburger-menu
      {
        width:24px;
        cursor: pointer;
      }
      .youtube-logo
      {
        width:90px;
        margin-left:24px;
        cursor: pointer;
      }

      .middle-section
      {
        flex:1;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left:56px;
      }
      .search-icon-button
      {
        padding:3px 20px;
        background-color: rgb(247, 247, 247);
        border-style:solid;
        border-width:1px;
        padding-top:7px;
        border-color:rgb(204, 204, 204);
        cursor: pointer;
        border-radius:2px;
      }
      .search-icon
      {
        width:24px;
        cursor: pointer;
      }
      .search-bar
      {
        font-family:roboto,arial;
        padding-left:12px;
        font-size:16px;
        max-width: 343px;
        width:100%;
        height:36px;
        margin-right:-1px;
        border-style:solid;
        border-radius:2px;
        border-width:1px;
        border-color:rgb(204, 204, 204);
        box-shadow:inset 0px 1px 2px rgb(238,238,238);
      }
      .search-bar:placeholder
      {
        font-size:16px;
      }
      .voice-search-icon
      {
        background-color:rgb(248, 248, 248);
        width:24px;
        padding-left:7px;
        padding-right:7px;
        padding-top:6px;
        padding-bottom:6px;
        border-radius:100px;
        margin-left:-18px;
        cursor:pointer;
      }
      .header .icon-box
      {
        position:relative;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        margin-right:26px;

      }
      .tooltip
      {
        position:absolute;
        bottom:-35px;
        background-color:rgba(96, 96, 96, 0.9);
        color:white;
        font-family:roboto,arial;
        font-size:12px;
        padding:7px 7px;
        border-radius:2px;
        opacity:0;
        transition: opacity 0.15s;
        white-space:nowrap;
      }
      .icon-box:hover .tooltip
      {
        opacity:1;
      }
      
      

      .right-section
      {
        display:flex;
        align-items:center;
      }
      .header-icon
      {
        width:24px;
        cursor: pointer;
      }
      .mychannel-picture
      {
        height:32px;
        width:32px;
        object-fit:cover;
        cursor: pointer;
      }
      .notifications-icon
      {
        position:relative;
      }
      .notifications-no
      {
        position:absolute;
        color:white;
        background-color:rgb(204, 0, 0);
        top:22px;
        right:-4px;
        border-radius:20px;
        padding:2px 5px;
        font-family:roboto,arial;
        font-size:10px;
        padding-top:1.5px;
      }