@media(max-width:1200px)
{
  .sidebar
{
  position:fixed;
  top:56px;
  display:flex;
  flex-direction:column;
  left:0;
  bottom:0;
  width:72px;
  align-items:center;
  padding-top:4px;
  z-index:200;
  background-color:white;
}
.icon-box
{
  height:74px;
  align-items:center;
  justify-content:center;
  display:flex;
  flex-direction:column;
}
.sidebar-icon
{
  width:24px;
}
.icon-name
{
  font-family:roboto,arial;
  font-size:10px;
  margin-top:6px;
}
}
@media(min-width:1200px)
{
  .sidebar
  {
    position:fixed;
    display:flex;
    flex-direction:column;
    left:24px;
    width:10000px;
    top:56px;
    bottom:0;
    padding-top:4px;
  }
  .sidebar .icon-box
  {
    width:250px;
    height:50px;   
    display:flex;
    align-items:center;
  }
  .sidebar .sidebar-icon
  {
    width:25px;

  }
  .sidebar .icon-name
  {
    font-family:roboto,arial;
    font-size:15px;
    margin-left:24px;
  }
  
}
